@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .container {
    display: flex;
    flex-direction: column;
    border: 20px solid #0000ff;
  }
  i {
    font-size: 36px;
    padding: 12px 0;
  }
  .box {
    border: 10px solid #0000ff;
    padding-left: 24px;
  }
  .box h2 {
    color: #0000ff;
    font-size: 40px;
    padding: 24px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.2);
  }
  .box h5 {
    font-size: 24px;
  }
  .box p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
  }
  /* GOALS */
  .box-1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    border-bottom: 20px solid #0000ff;
    padding: 0;
  }
  .goal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 12px 24px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.2);
  }
  /* SCOPES */
  .box-2 {
    grid-row: 2/ -1;
  }
  .box-2 .content {
    display: grid;
    grid-template-rows: repeat(2, auto);
    padding: 12px 24px;
  }
  .box-2 h3 {
    font-size: 32px;
  }
  .box-2 .in,
  .out {
    display: flex;
    flex-direction: column;
    padding: 8px 24px 60px 0;
    line-height: 1.5;
    gap: 18px;
  }
  /* TEAM */
  .box-3 {
    border-bottom: 8px solid #0000ff;
  }
  .member {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 24px;
    padding: 12px 48px 48px 24px;
  }
  .member i {
    text-align: center;
  }
  .box-3 h5 {
    padding-bottom: 12px;
  }
  /* PRIMARY */
  .box-4 {
    padding-bottom: 48px;
  }
  .primary-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px;
  }
  /* TIMELINE */
  .box-5 {
    grid-row: 1/ -1;
    grid-column: 3/ -1;
  }
  .box-5 .timeline-row {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 12px 36px;
    border-bottom: 1px dashed gray;
  }
  .box-5 span {
    font-size: 28px;
    color: #fff;
    padding: 16px;
    border: 2px solid gray;
    background-color: violet;
    border-radius: 50%;
    margin: 12px;
  }
  .timeline-row:last-child {
    margin-bottom: 60px;
  }
}
