@media only screen and (max-width: 600px) {
  * {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 12px;
    color: grey;
  }
  .bg-grey {
    background-color: rgba(128, 128, 128, 0.1);
  }
  /* BANNER */
  #banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../images/banner.jpg");
    background-size: 400%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    padding: 0;
  }
  .text-banner {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
    width: 100%;
  }
  .text-banner h1 {
    font-size: 60px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 12px;
  }
  .text-banner span {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.6);
  }
  /* NAR-BAR */
  #nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  #nav-bar .container {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #nav-bar .container a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px 48px;
    color: #343a40;
    font-size: 18px;
    font-weight: 400;
  }
  .text-nav-bar {
    padding: 8px 0;
    border: 1px solid rgba(52, 58, 64, 0.126);
    border-collapse: collapse;
    color: #343a40;
    display: none;
  }
  #nav-bar i {
    font-size: 18px;
    color: rgba(95, 61, 196, 0.6);
  }
  /* THÔNG TIN CÁ NHÂN */
  #about {
    background-color: rgba(128, 128, 128, 0.15);
  }
  #about i {
    font-size: 24px;
    color: rgba(95, 61, 196, 0.6);
    padding-left: 12px;
  }
  #target {
    padding: 96px 24px 24px 24px;
    background: #f1f3f5;
  }
  .section-title {
    font-size: 36px;
    color: #000;
  }
  #target p {
    font-size: 18px;
  }
  #personal-info {
    padding: 96px 24px 24px 24px;
    font-size: 18px;
  }
  #about h1 {
    padding-bottom: 24px;
  }
  #personal-info li {
    list-style-type: none;
    padding-bottom: 12px;
    font-size: 18px;
  }
  #personal-info span {
    font-weight: bold;
    font-size: 18px;
  }
  #personal-info :last-child {
    padding-bottom: 24px;
  }
  /* THÔNG TIN NGHỀ NGHIỆP */
  #job-info {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px; */
    margin: 28px 12px;
  }
  #job-info .container {
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  #job-info h3 {
    font-size: 24px;
    padding-bottom: 4px;
    color: #000;
  }
  .first-p {
    margin-top: 8px;
  }
  #job-info span {
    font-style: italic;
  }
  .job-info-item {
    border: 1px solid #343a40;
    padding-bottom: 48px;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }
  /* Tiêu đề item */
  .header-job {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 54px 32px;
  }
  .header-job h1 {
    font-size: 36px;
    color: #000;
  }
  .header-job p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Kinh nghiệm-Học vấn-Hoạt động */
  .job-info-item ul {
    padding: 0 28px 0 54px;
  }
  .job-icon {
    font-size: 54px;
    color: rgba(52, 58, 64, 0.4);
  }
  #job-info li {
    list-style-position: outsize;
    padding-left: 18px;
    padding-bottom: 24px;
    font-size: 18px;
  }
  #job-info li::marker {
    list-style-type: disc;
    font-size: 36px;
    color: rgba(95, 61, 196, 0.8);
  }
  .job-info-item p,
  span {
    font-size: 18px;
  }
  .present {
    padding: 2px 3px;
    background-color: rgba(95, 61, 196, 0.6);
    color: #f7f7f7;
    font-style: italic;
    border: none;
    border-radius: 15%;
  }
  /* Sở thích */
  .interest-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: start;
    padding: 0 12px;
  }
  .interest-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }
  .ic-megaphone,
  .ic-strategy,
  .ic-hotairballoon,
  .ic-basket {
    font-size: 24px;
    color: #5f3dc4;
  }
  .icon-center {
    width: 60px;
    height: 60px;
    border: 2px solid #5f3dc4;
    padding: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Ngôn ngữ - Kỹ năng */
  .langue-box {
    padding-left: 32px;
    padding-bottom: 28px;
    color: rgba(52, 58, 64, 0.8);
  }
  .langue-box h4 {
    font-size: 18px;
  }
  .line-blue {
    display: inline-block;
    height: 2px;
    width: 48px;
    background-color: rgba(0, 0, 255, 0.6);
    margin-right: 10px;
  }
  .line-grey {
    display: inline-block;
    height: 2px;
    width: 48px;
    background-color: rgba(128, 128, 128, 0.2);
    margin-right: 10px;
  }
  /* CHỨNG CHỈ - GIẢI THƯỞNG */
  /* #certificate {
    margin: 0;
    padding: 24px 5%;
  }
  #certificate .container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 72px;
    padding-bottom: 54px;
  }

  #certificate h1 {
    padding-left: 12px;
    padding-top: 54px;
    padding-bottom: 54px;
  }
  #certificate .box {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-left: 12px;
  }
  #certificate img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  #certificate p {
    padding: 2px 0;
    font-size: 18px;
    margin-bottom: 0;
  }
  #certificate h4 {
    text-transform: uppercase;
    padding-bottom: 12px;
    font-size: 18px;
    color: #000;
  } */
  /* Lớp giả bổ sung border */
  /* .line-column {
    position: relative;
  }
  .line-column::before {
    content: "";
    position: absolute;
    left: -4px;
    top: -60px;
    transform: translate(50%);
    width: 100%;
    height: 2px;
    background-color: #d6c08d;
  } */
  .line-row-mobile {
    position: relative;
  }
  .line-row-mobile::before {
    content: "";
    position: absolute;
    left: 12px;
    top: -36px;
    transform: translate(0);
    width: 100%;
    height: 2px;
    background-color: #d6c08d;
  }
  .line-row {
    position: relative;
  }
  .line-row::before {
    content: "";
    position: absolute;
    left: 12px;
    top: -24px;
    transform: translate(0);
    width: 100%;
    height: 2px;
    background-color: #d6c08d;
  }
  /* DỰ ÁN */
  /* Table */
  #project table {
    width: 100%;
    border-collapse: collapse;
    padding-bottom: 24px;
  }
  td {
    text-align: left;
    padding: 18px;
    font-size: 16px;
    vertical-align: top;
  }
  tbody tr:last-child td {
    border-bottom: none;
  }
  #project i {
    color: rgba(95, 61, 196, 0.6);
    font-size: 14px;
  }
  /* FOOTER */
  #footer ul {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 56px;
    list-style: none;
  }
  #footer i {
    font-size: 48px;
    color: rgba(95, 61, 196, 0.6);
  }
  #footer a {
    text-decoration: none;
  }
  #footer span {
    display: none;
  }
}
