@media only screen and (min-width: 600px) and (max-width: 768px) {
  * {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 12px;
    color: grey;
  }
  .bg-grey {
    background-color: rgba(128, 128, 128, 0.1);
  }
  h1 {
    font-size: 24px;
    color: #000;
  }
  i {
    color: rgba(95, 61, 196, 0.6);
  }
  /* BANNER */
  #banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../images/banner.jpg");
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
  }
  .text-banner {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
  }
  .text-banner h1 {
    font-size: 40px;
    color: #fff;
  }
  .text-banner span {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
  }
  /* NAR-BAR */
  #nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  #nav-bar .container {
    font-size: 12px;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  #nav-bar .container a {
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid rgba(52, 58, 64, 0.126);
    padding: 12px 24px;
    border-collapse: collapse;
    color: #343a40;
    font-weight: 600;
  }
  .text-nav-bar {
    padding: 8px 0;
    border: 1px solid rgba(52, 58, 64, 0.126);
    border-collapse: collapse;
    color: #343a40;
    display: none;
  }
  .text-nav-bar span {
    color: #343a405f;
  }
  /* THÔNG TIN CÁ NHÂN */
  #about {
    background-color: rgba(128, 128, 128, 0.15);
    min-width: 600px;
    max-width: 768px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
  #target {
    padding: 72px 24px 24px 24px;
    background: #f1f3f5;
  }
  #personal-info {
    padding: 72px 24px 24px 24px;
  }
  #about h1 {
    padding-bottom: 24px;
  }
  #personal-info ul {
    padding-left: 0;
  }
  #personal-info li {
    list-style-type: none;
    padding-bottom: 12px;
  }
  #personal-info span {
    font-weight: bold;
  }
  #personal-info :last-child {
    padding-bottom: 24px;
  }
  /* THÔNG TIN NGHỀ NGHIỆP */
  #job-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin: 28px 10%;
  }
  #job-info .container {
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  #job-info h3 {
    font-size: 14px;
    padding-bottom: 4px;
  }
  .first-p {
    margin-top: 8px;
  }
  #job-info span {
    font-style: italic;
  }
  .job-info-item {
    border: 1px solid #343a40;
    padding-bottom: 24px;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }
  /* Tiêu đề item */
  .header-job {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 24px;
  }
  .header-job h1 {
    font-size: 24px;
  }
  .header-job p {
    display: flex;
    align-items: ;
    justify-content: center;
    padding: 0 0 48px 0;
  }
  /* Kinh nghiệm-Học vấn-Hoạt động */
  .job-info-item ul {
    padding: 0 20px 0 40px;
  }
  .job-icon {
    font-size: 36px;
    color: rgba(52, 58, 64, 0.6);
  }
  #job-info li {
    list-style-position: outsize;
    padding-left: 8px;
    padding-bottom: 24px;
  }
  #job-info li::marker {
    list-style-type: disc;
    font-size: 22px;
    color: rgba(95, 61, 196, 0.8);
  }
  #job-info h3 {
    font-size: 14px;
  }
  .present {
    padding: 2px 3px;
    background-color: rgba(95, 61, 196, 0.6);
    color: #f7f7f7;
    font-style: italic;
    border: none;
    border-radius: 15%;
  }
  /* Sở thích */
  .interest-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: start;
    padding: 0 18px;
  }
  .interest-item {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    justify-content: center;
  }
  .ic-megaphone,
  .ic-strategy,
  .ic-hotairballoon,
  .ic-basket {
    font-size: 18px;
  }
  .icon-center {
    width: 48px;
    height: 48px;
    border: 1px solid #5f3dc4;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Ngôn ngữ - Kỹ năng */
  .langue-box {
    padding-left: 28px;
    padding-bottom: 28px;
    color: rgba(52, 58, 64, 0.8);
  }
  .line-blue {
    display: inline-block;
    height: 2px;
    width: 40px;
    background-color: rgba(0, 0, 255, 0.6);
    margin-right: 10px;
  }
  .line-grey {
    display: inline-block;
    height: 2px;
    width: 40px;
    background-color: rgba(128, 128, 128, 0.2);
    margin-right: 10px;
  }
  .langue-box h4 {
    font-size: 12px;
  }
  /* CHỨNG CHỈ - GIẢI THƯỞNG */
  /* #certificate {
    margin: 0;
    padding: 24px 5%;
  }
  #certificate .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 48px;
    margin: 0;
    min-width: 600px;
    max-width: 768px;
  }
  #certificate h1 {
    padding-left: 24px;
    padding: 54px 0;
    color: #000;
  }
  #certificate .box {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  #certificate img {
    object-fit: cover;
    width: 90%;
    height: auto;
  }
  .box p {
    padding: 2px 0;
    margin-bottom: 0;
  }
  #certificate h4 {
    text-transform: uppercase;
    padding-bottom: 12px;
    color: #000;
  } */
  /* Lớp giả bổ sung border */
  .line-column {
    position: relative;
  }
  .line-column::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 0;
    transform: translate(-50%);
    width: 1px;
    height: 100%;
    background-color: #d6c08d;
  }
  .line-row {
    position: relative;
  }
  .line-row::before {
    content: "";
    position: absolute;
    left: 12px;
    top: -28px;
    transform: translate(0);
    width: 200%;
    height: 1px;
    background-color: #d6c08d;
  }
  /* DỰ ÁN */
  /* #project .row-1 {
    max-width: 100%;
    height: auto;
  } */
  /* Table */
  #project table {
    width: 100%;
    border-collapse: collapse;
    padding-bottom: 24px;
  }
  td {
    text-align: left;
    padding: 18px;
    font-size: 14px;
    vertical-align: top;
  }
  tbody tr:last-child td {
    border-bottom: none;
  }
  /* FOOTER */
  #footer ul {
    display: flex;
    justify-content: center;
    gap: 28px;
    padding: 28px;
    list-style: none;
  }
  #footer i {
    font-size: 18px;
  }
  #footer a {
    text-decoration: none;
  }
}
